@import url(".config/wofi/colors.css");

window {
    margin: 0px;
    border: 1px solid @window_fg_color;
    border-top: none;
    background-color: @window_bg_color;
    font-family: Cousine Nerd Font;
}

#input {
    margin: 5px;
    border: none;
    color: @window_fg_color;
    background-color: @window_bg_color;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: @window_bg_color;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: @window_bg_color;
}

#text {
    margin: 5px;
    border: none;
    color: @window_fg_color;
}

#entry:selected {
    background-color: @window_bg_color;
}