@import url("colors.css");

window {
    background: @window_bg_color;
    border-radius: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: @window_fg_color;
}

#box {
    /* Define attributes of the box surrounding icons here */
    padding: 10px;
}

#active {
    /* This is to underline the button representing the currently active window */
    border-bottom: solid 2px;
    border-color: @window_fg_color;
}

button,
image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: @window_fg_color;
}

button {
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    color: @window_fg_color;
    font-size: 12px;
}

button:hover {
    background-color: rgba(156, 142, 122, 100);;
    border-radius: 0px;
}

button:focus {
    box-shadow: none;
}
