@import url("colors.css");

* {
    color: @window_fg_color;
}

.blank-window {
    background: transparent;
}

.notification-action,
.notification-default-action,
.control-center {
    border: 2px solid @window_fg_color;
    border-radius: 0;
}

.notification {
    border-radius: 0;
}

.notification-content {
    margin: 5px;
    border-radius: 0;
}

.widget-dnd {
    font-weight: bold;
    margin: 1em;
    border-radius: 0;
}

.widget-dnd > switch {
    border: 1px solid (@window_fg_color, 0.3);
    background: (#0e0e0e);
    padding: 1px;
    border-radius: 0;
}

.widget-dnd > switch slider {
    border: 1px solid (@window_fg_color);
    background: (#0e0e0e);
    box-shadow: none;
    border-radius: 0;
}

.widget-mpris {
    background: alpha(@window_bg_color, 1;
    margin: 1em;
    border-radius: 0;
}

.widget-buttons-grid {
    margin: 1em;
    background: alpha(@window_bg_color, 1);
    border-radius: 0;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    box-shadow: none;
    color: @window_fg_color;
    font-style: normal;
    border: 1px solid (@window_fg_color);
    background: @window_fg_color;
    border-radius: 0;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @window_bg_color;
    border-radius: 0;
}
