window {
    background-color: rgba (0, 0, 0, 1);
    border-radius: 0px;
}

/* Outer bar container, takes all the window width/height */
/*#outer-box {
    margin: 0px;
    border-radius: 0px;
}*/

/* Inner bar container, surrounds buttons */
#inner-box {
    background-color: rgba (0, 0, 0, 0.85);
    border-radius: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #ebdbb2;
    padding: 5px;
    margin: 5px;
}

button,
image {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0px;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 0px;
}

button:hover {
    background-color: rgba(235, 219, 178, 0.5);
}
